.login-logo{
  text-align: center;
  margin: auto;
  right: 0px;
  left: 0px;
  margin-top: 30%;
  margin-bottom: 10%;
  .logo_icon{
    width: 120px !important;

  }
  .login_logo img{
    max-width: 150px;
  }
  .login_name{
    margin: 10px;
    font-size: 4rem;
    // font-family:Chalkduster, fantasy;
    font-family: 'Mr Dafoe', cursive;
    color: #3981f7;
  }

}
.btn_class{
  color:black;
  height: 50px;
  margin-top: 20px;
  --border-radius:5px;
  font-weight: 600;
}
.login_logo img{
  max-width: 150px;
}
ion-list{
  --ion-background-color:transparent;
  .signup{
    color: rgb(23, 0, 155);
    font-weight: bold;
  }
}
.createAcc{
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  .signup{
    color: red;
  }

}
ion-item{
  --padding-end:4px;
}
.error-message{
  padding-right: 25px;
  color:red;
  text-align: center;
}

.content-class {
  --background: rgb(252, 245, 177);


  color: #fff;
}
.input-class{
  // --background: rgb(158, 185, 178);
  --placeholder-color: rgb(3, 77, 3);
  border: 1px solid rgba(3, 77, 3, 0.2);
  border-radius: 10px;
  --color: rgb(3, 77, 3);
}

.card-class{
  --background: rgb(209, 243, 233);
}

